{
    "isps": {
        "Bouygues_Telecom": {
            "urlAccessToken": "https://dev-bytel-api-arcep-mock-api.azurewebsites.net/api/v1/oauth/token?grant_type=client_credentials",
            "urlPrec": "https://dev-bytel-api-arcep-mock-api.azurewebsites.net/api/v1/tca/prec",
            "urlPostc": "https://dev-bytel-api-arcep-mock-api.azurewebsites.net/api/v1/tca/postc?unique_id={UNIQUE_ID}",
            "authLogin": "XXX",
            "authPassword": "XXX",
            "ipStack": "ipv6Preferred"
        },
        "SFR": {
            "urlAccessToken": "http://partner.arcep.diag.sfr.net/v1/oauth/token?grant_type=client_credentials",
            "urlPrec": "{SCOPE}/tca/prec",
            "urlPostc": "{SCOPE}/tca/postc?unique_id={UNIQUE_ID}",
            "authLogin": "XXX",
            "authPassword": "XXX",
            "ipStack": "ipv6Preferred"
        }
    }
}